* {
	box-sizing: border-box;
}

body {
    margin: 0;
	background-color: black;
    color: #B9A2CE;
}

p {
    font-family: Forum;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.12px;
}

.planet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 300px; 
    height: 160px;
}

.header {
    text-align: center;
    font-family: EB Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
	
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.firstBlock{
    text-align: right;
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 25px;
}

.books{
    opacity: 70%;
    left: 0px;
}

.rightText {
    position: absolute;
    right: 25px;
    top: 50%;
    bottom: 50%;
    text-align: right;
    width: 220px;
    height: auto;
}

.secondBlock{
    text-align: left;
    display: grid;
    grid-template-columns: auto 150px;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.leftText {
    position: absolute;
    left: 25px;
    top: 50%;
    bottom: 50%;
    text-align: left;
    width: 220px;
    height: auto;
}

.superAi{
    opacity: 70%;
    right: 25px;
}

.scull {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 125px; 
    height: 125px;
    opacity: 70%;
}

.moon {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%; 
    opacity: 80%;
}

.button {
    background-color: #B9A2CE;
    color: #000000;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #B9A2CE;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: EB Garamond;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 3px 3px 3px grey;
}
