* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: black;
}

p {
    font-family: Candara;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.12px;
	color: #B9A2CE;
}

a {
	font-family: Candara;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.12px;
	color: #B9A2CE;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row {
	width: 100%;
	border-style: solid none none none;
	border-width: 1px;
	border-color: rgba(208,191,227,0.5);
	background-color: black;
	display: grid;
	grid-template-columns: 19% 19% 24% 19% 19%;
	justify-content: space-evenly;
	position: fixed;
	bottom: 1px;
	text-align: center;	
	padding-top: 15px;
	padding-bottom: 15px;
}

.tabcontent {
	display: none;
	padding: 12px 12px;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	text-align: center;
	background-color: black;
	font-size: 14px;
	height: 1200px;
}

.calendar{
	top: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	width: 100%;
	background-color: black;
}

.tab {
	display: grid;
	grid-template-columns: 60px 60px 60px 60px 60px;
	justify-content: space-evenly;
	font-size: 12px;
}

.tab.two {
	grid-template-columns: 20px 20px 20px 20px 20px;
	grid-gap: 20px;
	border-style: none none solid none;
	border-color: rgba(208,191,227,0.5);
	grid-template-rows: 24px;
	border-width: 1px;	
}

.tablinks {
	color: #B9A2CE;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;	
}

#dateToday {
	border-color: #B9A2CE;
}

.tab a {
	cursor: pointer;
	padding-top: 2px;
}

.tab a.active {
	background-color: rgba(208,191,227,0.5);
	border-radius: 5px;
	color: black;
}

.tabcontentCalendar {
	display: none;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
